body {
    background-image: url("https://cdn.pixabay.com/photo/2020/07/25/21/29/waves-5437897_960_720.png");
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;       
}
h1 {
    box-sizing: border-box;
    height: 100px;
    width: 500px;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #116466;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: #DEF2F1;
    border-color: #17252A;
}
.card {
    box-sizing: border-box;
    height: 400px;
    width: 400px;  
    padding: 15px;
    margin: auto;
    position: relative;
    border: solid;
    border-color: #17252A;
    border-radius: 5px;
    text-align: left;
    font-family: sans-serif;
    font-size: 1.5rem;
    margin: auto;
    background-color: #DEF2F1;
    box-shadow: 4px 5px #5D001E;
}
#new-fact {
    display: border-box;
    height: 75px;
    width: 150px;
    padding: 5px;
    float: right;
    margin-right: 200px;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #17252A;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #116466;
    background-color: #DEF2F1;
}
#search-facts-container {
    display: border-box;
    margin: auto;
    position: relative;
    padding: 2px 0 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    height: 100px;
    width: 300px;
    color: #116466;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: #DEF2F1;
    border-color: #17252A;
}