body {
    background-image: url("https://cdn.pixabay.com/photo/2015/09/13/10/06/pay-937882_960_720.jpg");
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-family: sans-serif;       
}
h1 {
    display: block;
    text-align: center;
    font-size: 2em;
    /* margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inLine-start: 0px;
    margin-inLine-end: 0px; */
    /* margin: 10px 80px 20px 10px; */
    font-weight: bold;
    color: #116466;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    background-color: #DEF2F1;
    border-color: #17252A;
}
#daily-fact {
    margin: 2rem;
}

.card {
    text-align: center;
    border: solid;
    border-color: #17252A;
    border-radius: 5px
    padding: 1rem;
    width: 25rem;
    height: 15rem;
    display: block;
    margin: 1rem 2rem;
    background-color: #DEF2F1;
    box-shadow: 3px 4px #e04b52
}
